.Header{
    width:350px ;
    height:60px ;
    background-color: blueviolet;
}

.Menu{
    width:350px ;
    height:30px ;
    background-color: rgb(245, 73, 10);
}
.Maincontent{
    width:350px ;
    height:200px ;
    background-color: rgb(253, 146, 104);
}
.Footer{
    width:350px ;
    height: 30px;
    background-color: rgb(232, 10, 128);
}
