.Header{
    width:400px ;
    height:70px ;
}
.logo{
    width: 100px;
    height: 70px;
    background-color: cornflowerblue;
    float: left;
}
.banner{
    width: 300px;
    height: 70px;
    background-color: orchid;
    float: right;
}
.Maincontent{
    width:600px ;
    height:200px ;
}
.sideber1{
    width: 120px;
    height: 200px;
    background-color: tomato ;
    float: left;
}
.content{
    width: 160px;
    height: 200px;
    background-color: lightsalmon;
    float:left;
}
.sideber2{
    width: 120px;
    height: 200px;
    background-color: darkseagreen;
    float: left;
}
.Footer{
    width:400px ;
    height: 30px;
    background-color: deeppink;
}
